.App {
  text-align: center;
  margin:2%;
  display: flex;
}

.product-item{
  margin: 2% !important;
}
.product-list{
  width: 60vw !important;
}
.price{
 margin-right: 50% ;
}

.custom-button{
display: flex !important;
  flex-wrap: wrap;
  width: 90%;
}

.out-of-stock{
  color: red;
  font-weight: bold;
}

.ordered-product-image{
  height:10vh;
  margin: 2%;
}

.ordered-product-container{
width: 20vw;
}

.bank-section{
  width: 40vw;
  border: 2px solid black;
  padding: 1%;

}
.red-bold-message{
  color: red;
  font-weight: bold;
}
.ordered-products-list{
  height: 80vh;
  width: auto !important;
  overflow-y: auto;
  border: 2px solid black;
  margin-left:5%;
  padding: 1%;
}

.balance{
  font-weight: bold;
  font-size: 1.5em;
}


